<ul>
   <li> <a href="/filmes/new">NOVO FILME</a></li>
    <li><a href="/ators/new">NOVO ATOR</a></li>
    <li><a href="/filmes">FILMES</a></li>
    <li><a href="/ators">ELENCO DE ATORES</a></li>
    <li><a href="/criticas">COMENTÁRIOS</a></li>
    <li><a href="/logs">LOGS</a></li>
</ul>

<hr>